body {
  background: #049494;
}

.m-container {
  width: 95%;
  display: flex;
  margin: auto;
  text-align: center;
}

.q-c {
  padding: 100px 0;
}

.quotes {
  border: 10px solid #f4d1ae;
  width: 900px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  color: gray;
  background-color: #f4edea;
}

.quotes p .quotes h3 {
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .quotes p .quotes h3 {
    font-size: 1rem;
  }
}
